
#settingid{
    width: 100%;
    height: 100%;
    position: relative;
}
#shaderesource{
    z-index: 666;
    /*display: none;*/
    width: 100%;
    height: 100%;
    position: absolute;
    left:0;
    top: 0;
    background: rgba(0, 0, 0, 0.3);
}
#resourcribox{
    margin:60px auto;
    width: 660px;
    height: 450px;
    background: #fff;
    box-sizing: border-box;
    padding:0 20px;
    border-radius: 3px;
}
#resourcebottom{
    text-align: right;
}
.filenamespan{
    display: inline-block;
    font-size: 10px;
    padding:2px 3px;
    border:1px solid #ccc;
    border-radius:3px;
    margin-top:4px;
}
.filenamespan small{
    display: inline-block;
    width: 14px;
    height: 14px;;
    text-align: center;
    line-height: 14px;
    cursor: pointer;
    border-radius:50px;
    background: #eee;
    margin-right:1px;
}
.filenamespan small:hover{
    background: #ccc;
}
#BigSc{
    background:rgba(238, 238, 238, 0.3);
    border-radius:7px;
    width:450px;
    height:34px;
    border:1px solid #ccc;
    box-sizing: border-box;
    padding:0 5px;
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
}
.pull-right.pagination-detail{
    display:none;
}
#resourcebtndel{
    width: 53px;
    height: 34px;
    background: #1ab394;
    border-radius: 3px;
    border:1px solid #1ab394;
    color: #fff;
}
#resourcedanger{
    width: 53px;
    height: 34px;
    background: #ec4758;
    border-radius: 3px;
    border:1px solid #ec4758;
    color: #fff;
}
.findlabel{
    font-weight: 500;
}
#seekResource{
    width: 65px;
    height: 27px;
    font-size: 13px;
    text-align: center;
    padding: 4px 5px;;
    margin-top: 10px;
    background: #1a7bb9;
    color: #fff;
    border: 1px solid #1a7bb9;
    border-radius: 3px;
}