<!DOCTYPE html>
<html lang="zh_CN" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    
    <link href="../../static/css/font-awesome/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../../static/css/layui.css"  media="all">
    <link href="../../static/css/style.css" rel="stylesheet" type="text/css">

    <link href="../../static/css/font-awesome/font-awesome.min.css" rel="stylesheet">
    <link href="../../static/css/bootstrap/bootstrap.min.css?v=3.3.6" rel="stylesheet">
    <link href="../../static/css/font-awesome/font-awesome.css?v=4.4.0" rel="stylesheet">
    <link rel="stylesheet" href="../../static/css/bootstrap/table/bootstrap-table.css">
    <link href="../../static/css/plugins/jsTree/style.min.css" rel="stylesheet">
    <link href="../../static/css/plugins/jqTreeGrid/jquery.treegrid.css" rel="stylesheet">
    <link href="../../static/css/plugins/summernote/summernote-0.8.8.css" rel="stylesheet">
    <link href="../../static/css/animate.css"  rel="stylesheet">
    <link href="../../static/css/plugins/chosen/chosen.css" rel="stylesheet">
    <link href="../../static/css/style.css?v=4.1.0"  rel="stylesheet">
    <link href="../../static/js/jquery.auto-complete.css" rel="stylesheet">
    <link href="../../static/css/jquery.treegrid.min.css" rel="stylesheet">
    <link href="../../static/css/bootstrap/pagejump/bootstrap-table-pagejump.css" rel="stylesheet">
    <link rel="stylesheet" href="../../static/css/packaging.css">

    <link rel="stylesheet" href="../../static/css/auth.css">
<!-- 个人认证页面 -->
</head>
<body class="gray-bg" style="height: 780px">

<div class="wrapper wrapper-content ">
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox float-e-margins">
                <div class="ibox-content" style="height: 750px;">
                    <form class="form-horizontal m-t" id="authForm">
                        <input id="userId" name="userId" type="hidden">、

                        <div class="row">
                            <div class="col-sm-8">

                                <div class="form-group">
                                    <label class=" col-sm-1 col-sm-offset-1 control-label" style="text-align: left;">姓&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;名</label>
                                    <div class="col-sm-4" style="text-align: left;">
                                        <input type="text" id="name" name="realName" lay-verify="title" autocomplete="off"
                                               placeholder="请输入身份证上的姓名" class="form-control" maxlength="32">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-sm-1 col-sm-offset-1 control-label" style="text-align: left;">证件类型</label>
                                    <div class="col-sm-4" style="text-align: left;">
                                        <!--<input type="text" id="companyCard" name="companyCard" autocomplete="off"-->
                                        <!--placeholder="请输入统一社会信用代码" class="form-control">-->
                                        <select id="type" name="cardtype" class="form-control">
                                            <option value="">==请选择==</option>
                                            <option value="1" selected>身份证</option>
                                            <!--<option value="2">护照</option>-->
                                            <!--<option value="3">驾驶证</option>-->
                                            <!--<option value="4">港澳通行证</option>-->
                                        </select>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-sm-1 col-sm-offset-1 control-label" style="text-align: left;">证件号码</label>
                                    <div class="col-sm-4" style="text-align: left;">
                                        <input type="text" id="number" name="cardnumber" lay-verify="identity" placeholder=""
                                               autocomplete="off"  class="form-control" maxlength="18">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-sm-1 col-sm-offset-1 control-label" style="text-align: left;"></label>
                                    <label id="textmsg"></label>
                                </div>
                            </div>
                        </div>

                        <hr class="layui-bg-black" style="margin: 10px">

                        <div class="row">
                            <div class="col-sm-8">
                                <div class="col-sm-offset-1" id="d-ex">
                                    <li> <b>请上传实名认证附件</b></li>
                                    <li><span>图片格式要求jpg、jpeg、bmp、png，不超过3M。</span></li>
                                </div>

                                <div id="uploadimage" style="margin-top: 50px;">
                                    <div class="layui-col-md12">
                                        <div class="row">
                                            <div class="col-sm-3 col-sm-offset-1">
                                                <label class="control-label" style="margin-left: 100px">身份证正面</label>
                                            </div>

                                            <div class="col-sm-3 col-sm-offset-1">
                                                <label class="control-label" style="margin-left: 120px">身份证背面</label>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div id="imgPreview" class="col-sm-3 col-sm-offset-1 imgPreview" style="border-color: transparent;cursor: pointer;">

                                                <div id="prompt3" style="background-image:url(../../static/img/idcard_0.png); ">

                                                    <!--<span id="imgSpan">身份证正面<br/><i class="aui-iconfont aui-icon-plus"></i></span>-->

                                                    <input type="file" id="file" name="files" class="filepath" onchange="changepic(this)"
                                                           accept="image/jpg,image/jpeg,image/png,image/PNG" onmouseout="hiddenimg1()"  style="cursor:pointer">
                                                </div>
                                                <img src="../../static/img/idcard_0.png" id="img3" onmouseover="showImg1(this)"  />
                                            </div>


                                            <div id="imgPreview2" class="col-sm-3 col-sm-offset-1 layui-col-md-offset1 imgPreview" style="border-color: transparent;">

                                                <div id="prompt32" style="background-image:url(../../static/img/idcard_1.png)">
                                                    <!--<span id="imgSpan2">身份证背面<br/><i class="aui-iconfont aui-icon-plus"></i></span>-->
                                                    <input type="file" id="file2" name="files" class="filepath" onchange="changepic2(this)"
                                                           accept="image/jpg,image/jpeg,image/png,image/PNG" onmouseout="hiddenimg2()"  style="cursor:pointer">
                                                </div>
                                                <img src="../../static/img/idcard_1.png" id="img32" onmouseover="showImg2(this)"    />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <br>
                        <div class="row " id="buttons">
                            <div class="col-sm-8">
                                <div style="margin-top: 50px;" class="col-sm-offset-1">
                                    <!--<button class="layui-btn layui-btn-normal" id="auth">提交认证</button>-->
                                    <!--<button type="reset" class="layui-btn layui-btn-primary">重置</button>-->
                                    <button class="btn btn-primary" id="auth">提交认证</button>
                                    <button type="reset" class="btn btn-cancel">重置</button>
                                </div>
                            </div>

                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

</div>

<script src="../../static/js/jquery.min.js"></script>
<script src="../../static/js/layui.js" charset="utf-8"></script>
<script src="../../static/js/plugins/validate/jquery.validate.min.js" ></script>
<script src="../../static/js/plugins/layer/layer.min.js" ></script>
<script src="../../static/js/plugins/validate/messages_zh.min.js" ></script>
<script src="../../static/js/share.js"></script>
<script src="../../static/js/auth.js"></script> 
</body>
</html>
