<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../../../static/css/semanticDatabase/SemanticLibrarySetup/iconfont/iconfont.css">
    <link rel="stylesheet" href="../../../static/css/semanticDatabase/SemanticLibrarySetup/SemanticLibrarySetup.css">
</head>
<body>
   <div id="box">
         <div id="contentt">
             <div id="detailsCircumscribe">
                <div id="detailsCircumscribe-center" class="columns pull-left">
                    <div id="topbtn">
                        <button id="augmentbtn" class="btn btn-primary">添加</button>
                    </div>
                    <div id="centerconter">
                        <!-- <div class="lump">
                            <div class="lump-top">
                                <b>火车站语义库</b>
                                <span>
                                    <span class="lookshowdd"><small class="iconfont icon-chakan"></small>查看</span>
                                    <span class="delll"><small class="iconfont icon-shanchu"></small>删除</span>
                                </span>
                            </div>
                            <div class="lump-content">
                                <div class="describe">
                                    <p>描述:有关于苏州火车动车站相关的语义回答</p>
                                </div>
                                <span class="footer">
                                    共
                                    <span class="number-fo">999</span>
                                    条
                                </span>
                            </div>
                        </div> -->
                      

                    </div>
                </div>
             </div>
             <div id="EmptyData-center">
                    <div id="EmptyData">
                        <div id="empty-img">
                            <img src="../../../static/img/暂无插画.png" alt="">
                        </div>
                        <button id="add">创建语义库</button>
                    </div>
             </div>
              
         </div>
   </div>
   <script src="../../../static/js/share.js"></script>
   <script src="../../../static/js/jquery.min.js?v=2.1.4"></script>
   <script src="../../../static/js/plugins/layer/layer.min.js"></script>
   <script src="../../../static/js/semanticDatabase/SemanticLibrarySetup/SemanticLibrarySetup.js"></script>
</body>
</html>