.layui-upload-img {
    width: 150px;
    height: 160px;
    border: 1px solid;
    border-color: transparent;

}
#uploadbtn{
   margin-left: 24px;
}

label.layui-form-label
{
    width: 100px;
}
input.mydisabled
{
    background-color: #eeeeee;
}