a{
    color: white;
}
#getCode{
    color: white;
}
#getCode:focus{
    color: #337ab7;
}
#email{
    background: rgba(255,255,255,.2);
    color: white;
}
#code{
    background: rgba(255,255,255,.2);width: 150px;display: inline-block;margin: auto;color: white
}
#getCode{
    width: 120px;background: rgba(255,255,255,.2);float: right;height: 34px
}
#login{
    display:block;float: right;
}
#phone{
    display:block;float: right;
}